public/api/conf/1.0/schemas/CC313A-v11-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://ics.dgtaxud.ec/CC313A"
           targetNamespace="http://ics.dgtaxud.ec/CC313A" xmlns:doc="http://ics.dgtaxud.ec/doc" xmlns:complex_ics="http://ics.dgtaxud.ec/complex_ics" xmlns:simple="http://ics.dgtaxud.ec/simple" xmlns:tcl="http://ics.dgtaxud.ec/tcl" version="11.1" id="CC313A" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://ics.dgtaxud.ec/doc" schemaLocation="doc-v11-1.xsd"/>
  <xs:import namespace="http://ics.dgtaxud.ec/complex_ics" schemaLocation="complex_types_ics-v11-1.xsd"/>
  <xs:import namespace="http://ics.dgtaxud.ec/simple" schemaLocation="simple_types-v11-1.xsd"/>
  <xs:import namespace="http://ics.dgtaxud.ec/tcl" schemaLocation="tcl-v11-1.xsd"/>
  <xs:element name="CC313A" type="ie:CC313AType"/>
  <xs:complexType name="CC313AType">
    <xs:sequence>
      <xs:group ref="ie:MESSAGE"/>
      <xs:element name="HEAHEA" type="ie:HEAHEAType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="HEADER"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TRACONCO1" type="ie:TRACONCO1Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CONSIGNOR) TRADER"/>
            <doc:condition name="C511"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TRACONCE1" type="ie:TRACONCE1Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CONSIGNEE) TRADER"/>
            <doc:condition name="C583"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NOTPAR670" type="ie:NOTPAR670Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NOTIFY PARTY"/>
            <doc:condition name="C583"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="GOOITEGDS" type="ie:GOOITEGDSType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="GOODS ITEM"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="99" name="ITI" type="complex_ics:ITIType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="ITINERARY"/>
            <doc:rule name="R879"/>
            <doc:condition name="C570"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TRAREP" type="ie:TRAREPType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(REPRESENTATIVE) TRADER"/>
            <doc:rule name="R896"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERLODSUMDEC" type="ie:PERLODSUMDECType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(LODGING SUMMARY DECLARATION) PERSON"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SEAID529" type="complex_ics:SEAID529Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="SEALS ID"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFFENT730" type="ie:CUSOFFFENT730Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(FIRST ENTRY) CUSTOMS OFFICE"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="99" name="CUSOFFSENT740" type="complex_ics:CUSOFFSENT740Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(SUBSEQUENT ENTRY) CUSTOMS OFFICE"/>
            <doc:rule name="R808"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TRACARENT601" type="ie:TRACARENT601Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(ENTRY CARRIER) TRADER"/>
            <doc:rule name="R806"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="MESSAGE">
    <xs:sequence>
      <xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message sender"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message recipient"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="simple:DatePrepType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Date of preparation"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="simple:TimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Time of preparation"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PriMES15" type="simple:Alpha_1">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Priority"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message identification"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="tcl:MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message type"/>
            <doc:codeList name="MessageTypes"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CorIdeMES25" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Correlation identifier"/>
            <doc:rule name="TR9181"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="HEAHEAType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="HEADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocNumHEA5" type="simple:MRNType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document/reference number"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TraModAtBorHEA76" type="simple:Numeric_Max2">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Transport mode at border"/>
            <doc:rule name="R826"/>
            <doc:condition name="C529"/>
            <doc:codeList name="TransportMode" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IdeOfMeaOfTraCroHEA85" type="simple:Alphanumeric_Max27">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Identity of means of transport crossing border"/>
            <doc:condition name="C017"/>
            <doc:condition name="C514"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IdeOfMeaOfTraCroHEA85LNG" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Identity of means of transport crossing border LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NatOfMeaOfTraCroHEA87" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Nationality of means of transport crossing border"/>
            <doc:condition name="C024"/>
            <doc:codeList name="CountryCodesFullList" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotNumOfIteHEA305" type="simple:Numeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total number of items"/>
            <doc:rule name="TR0811"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TotNumOfPacHEA306" type="simple:Numeric_Max7">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total number of packages"/>
            <doc:rule name="R105"/>
            <doc:condition name="C582"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TotGroMasHEA307" type="simple:Decimal_11_3">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total gross mass"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmdPlaHEA598" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Amendment place"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AmdPlaHEA598LNG" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Amendment place LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SpeCirIndHEA1" type="simple:AlphaCapital1Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Specific Circumstance Indicator"/>
            <doc:rule name="R834"/>
            <doc:codeList name="SpecificCircumstanceIndicator" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TraChaMetOfPayHEA1" type="simple:AlphaCapital1Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Transport charges/ Method of Payment"/>
            <doc:codeList name="TransportChargesMethodOfPayment" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ComRefNumHEA" type="simple:Alphanumeric_Max70">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Commercial Reference Number"/>
            <doc:condition name="C567"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ConRefNumHEA" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Conveyance reference number"/>
            <doc:rule name="R843"/>
            <doc:condition name="C518"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlaLoaGOOITE334" type="simple:AlphanumericSpecMax35Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Place of loading"/>
            <doc:rule name="R670"/>
            <doc:condition name="C574"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlaLoaGOOITE334LNG" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Place of loading LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlaUnlGOOITE334" type="simple:AlphanumericSpecMax35Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Place of unloading"/>
            <doc:rule name="R670"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CodPlUnHEA357LNG" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Place of unloading LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatTimAmeHEA113" type="simple:DateTimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Date and Time of amendment"/>
            <doc:rule name="R660"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRACONCO1Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNOR) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="NamCO17" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StrAndNumCO122" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PosCodCO123" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CitCO124" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CouCO125" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code"/>
            <doc:condition name="C501"/>
            <doc:codeList name="CountryCodesFullList" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NADLNGCO" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TINCO159" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN"/>
            <doc:rule name="R840"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRACONCE1Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNEE) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="NamCE17" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StrAndNumCE122" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PosCodCE123" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CitCE124" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CouCE125" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code"/>
            <doc:condition name="C501"/>
            <doc:codeList name="CountryCodesFullList" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NADLNGCE" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TINCE159" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN"/>
            <doc:rule name="R840"/>
            <doc:condition name="C562"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NOTPAR670Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="NOTIFY PARTY"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="NamNOTPAR672" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StrNumNOTPAR673" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PosCodNOTPAR676" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CitNOTPAR674" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CouCodNOTPAR675" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code"/>
            <doc:condition name="C501"/>
            <doc:codeList name="CountryCodesFullList" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NOTPAR670LNG" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TINNOTPAR671" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN"/>
            <doc:rule name="R840"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GOOITEGDSType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="GOODS ITEM"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IteNumGDS7" type="simple:Numeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Item number"/>
            <doc:rule name="R005"/>
            <doc:rule name="R007"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="GooDesGDS23" type="simple:Alphanumeric_Max280">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Goods description"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="GooDesGDS23LNG" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Goods description LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="GroMasGDS46" type="simple:Decimal_11_3">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Gross mass"/>
            <doc:condition name="C592"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MetOfPayGDI12" type="simple:AlphaCapital1Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Transport charges/ Method of Payment"/>
            <doc:condition name="C576"/>
            <doc:codeList name="TransportChargesMethodOfPayment" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ComRefNumGIM1" type="simple:Alphanumeric_Max70">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Commercial Reference Number"/>
            <doc:condition name="C567"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UNDanGooCodGDI1" type="simple:Numeric_4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="UN dangerous goods code"/>
            <doc:rule name="R823"/>
            <doc:codeList name="UnDangerousGoodsCode" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlaLoaGOOITE333" type="simple:AlphanumericSpecMax35Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Place of loading"/>
            <doc:rule name="R670"/>
            <doc:condition name="C574"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlaLoaGOOITE333LNG" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Place of loading LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlaUnlGOOITE333" type="simple:AlphanumericSpecMax35Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Place of unloading"/>
            <doc:rule name="R670"/>
            <doc:condition name="C579"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlaUnlGOOITE333LNG" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Place of unloading LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="99" name="PRODOCDC2" type="ie:PRODOCDC2Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="PRODUCED DOCUMENTS/CERTIFICATES"/>
            <doc:rule name="R866"/>
            <doc:condition name="C567"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="99" name="SPEMENMT2" type="complex_ics:SPEMENMT2Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="SPECIAL MENTIONS"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TRACONCO2" type="ie:TRACONCO2Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CONSIGNOR) TRADER"/>
            <doc:condition name="C511"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="COMCODGODITM" type="complex_ics:COMCODGODITMType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CODE) COMMODITY"/>
            <doc:condition name="C585"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TRACONCE2" type="ie:TRACONCE2Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CONSIGNEE) TRADER"/>
            <doc:condition name="C584"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="99" name="CONNR2" type="ie:CONNR2Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="CONTAINERS"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IDEMEATRAGI970" type="ie:IDEMEATRAGI970Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(MEANS OF TRANSPORT AT BORDER) IDENTITY"/>
            <doc:condition name="C019"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="99" name="PACGS2" type="complex_ics:PACGS2Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="PACKAGES"/>
            <doc:condition name="C577"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PRTNOT640" type="ie:PRTNOT640Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NOTIFY PARTY"/>
            <doc:condition name="C584"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PRODOCDC2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PRODUCED DOCUMENTS/CERTIFICATES"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocTypDC21" type="simple:Alphanumeric_Max4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document type"/>
            <doc:rule name="R866"/>
            <doc:codeList name="DocumentTypeCommon" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDC23" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document reference"/>
            <doc:rule name="R866"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DocRefDCLNG" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document reference LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRACONCO2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNOR) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="NamCO27" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StrAndNumCO222" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PosCodCO223" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CitCO224" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CouCO225" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code"/>
            <doc:condition name="C501"/>
            <doc:codeList name="CountryCodesFullList" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NADLNGGTCO" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TINCO259" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN"/>
            <doc:rule name="R840"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRACONCE2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNEE) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="NamCE27" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StrAndNumCE222" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PosCodCE223" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CitCE224" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CouCE225" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code"/>
            <doc:condition name="C501"/>
            <doc:codeList name="CountryCodesFullList" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NADLNGGICE" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TINCE259" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN"/>
            <doc:rule name="R840"/>
            <doc:condition name="C562"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CONNR2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CONTAINERS"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConNumNR21" type="simple:Alphanumeric_Max17">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Container number"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IDEMEATRAGI970Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(MEANS OF TRANSPORT AT BORDER) IDENTITY"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="NatIDEMEATRAGI973" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Nationality"/>
            <doc:condition name="C020"/>
            <doc:codeList name="CountryCodesFullList" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeMeaTraGIMEATRA971" type="simple:Alphanumeric_Max27">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Identity of means of transport crossing border"/>
            <doc:condition name="C514"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IdeMeaTraGIMEATRA972LNG" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Identity of means of transport crossing border LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PRTNOT640Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="NOTIFY PARTY"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="NamPRTNOT642" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StrNumPRTNOT646" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PstCodPRTNOT644" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CtyPRTNOT643" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CouCodGINOT647" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code"/>
            <doc:condition name="C501"/>
            <doc:codeList name="CountryCodesFullList" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PRTNOT640LNG" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TINPRTNOT641" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN"/>
            <doc:rule name="R840"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRAREPType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(REPRESENTATIVE) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="NamTRE1" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StrAndNumTRE1" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PosCodTRE1" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CitTRE1" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CouCodTRE1" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code"/>
            <doc:condition name="C501"/>
            <doc:codeList name="CountryCodesFullList" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TRAREPLNG" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINTRE1" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN"/>
            <doc:rule name="R837"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PERLODSUMDECType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(LODGING SUMMARY DECLARATION) PERSON"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="NamPLD1" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StrAndNumPLD1" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PosCodPLD1" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CitPLD1" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CouCodPLD1" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code"/>
            <doc:condition name="C501"/>
            <doc:codeList name="CountryCodesFullList" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PERLODSUMDECLNG" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINPLD1" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN"/>
            <doc:rule name="R837"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSOFFFENT730Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(FIRST ENTRY) CUSTOMS OFFICE"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumCUSOFFFENT731" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpDatOfArrFIRENT733" type="simple:DateTimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Expected date and time of arrival"/>
            <doc:rule name="R660"/>
            <doc:rule name="R666"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRACARENT601Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(ENTRY CARRIER) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="NamTRACARENT604" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StrNumTRACARENT607" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PstCodTRACARENT606" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CtyTRACARENT603" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City"/>
            <doc:condition name="C501"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CouCodTRACARENT605" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code"/>
            <doc:condition name="C501"/>
            <doc:codeList name="CountryCodesFullList" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TRACARENT601LNG" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG"/>
            <doc:rule name="TR0099"/>
            <doc:codeList name="LanguageCodes" type="business"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TINTRACARENT602" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN"/>
            <doc:rule name="R840"/>
            <doc:condition name="C502"/>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
