public/api/conf/1.0/schemas/ICS_cm-v7-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cm="http://www.govtalk.gov.uk/enforcement/ICS/commontypes/7" targetNamespace="http://www.govtalk.gov.uk/enforcement/ICS/commontypes/7" xmlns:dt="http://www.govtalk.gov.uk/enforcement/ICS/datatypes/7" version="7.0" id="ICS_cm" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.govtalk.gov.uk/enforcement/ICS/datatypes/7" schemaLocation="data_types-v7-0.xsd"/>
  <xs:simpleType name="MesSenMES3">
    <xs:annotation>
      <xs:documentation>MESSAGE.Message sender Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MesSenMES3UK">
    <xs:annotation>
      <xs:documentation>MESSAGE.Message sender Type UK specific type value to contain branch information</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:EORIBranch"/>
  </xs:simpleType>
  <xs:simpleType name="MesRecMES6">
    <xs:annotation>
      <xs:documentation>MESSAGE.Message recipient Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MesRecMES6UK">
    <xs:annotation>
      <xs:documentation>MESSAGE.Message recipient Type UK specific type value to contain branch information</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:EORIBranch"/>
  </xs:simpleType>
  <xs:simpleType name="MesIdeMES19">
    <xs:annotation>
      <xs:documentation>MESSAGE.Message identification Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="14"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MesTypMES20">
    <xs:annotation>
      <xs:documentation>MESSAGE.Message type Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CorIdeMES25">
    <xs:annotation>
      <xs:documentation>MESSAGE.Correlation Id Type ( KEL QTM820 up to 14 characters, but I would expect it will be fixed 14 characters)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="14"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IteNumGDS7">
    <xs:annotation>
      <xs:documentation>MESSAGE - GOODS ITEM.Item number Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GooDesGDS23">
    <xs:annotation>
      <xs:documentation>MESSAGE - GOODS ITEM.Goods description Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="280"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UNDanGooCodGDI1">
    <xs:annotation>
      <xs:documentation>MESSAGE - GOODS ITEM.UN dangerous goods code Type (Message definition indicated AN4, but R823 states N4)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:length value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddInfCodMT23">
    <xs:annotation>
      <xs:documentation>MESSAGE - GOODS ITEM - SPECIAL MENTIONS.Additional information coded Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ComNomCMD1">
    <xs:annotation>
      <xs:documentation>MESSAGE - GOODS ITEM - (CODE) COMMODITY.Combined Nomenclature Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="4"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ConNumNR21">
    <xs:annotation>
      <xs:documentation>MESSAGE - GOODS ITEM - CONTAINERS.Container number Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KinOfPacGS23">
    <xs:annotation>
      <xs:documentation>MESSAGE - GOODS ITEM - PACKAGES.Kind of packages Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumOfPacGS24">
    <xs:annotation>
      <xs:documentation>MESSAGE - GOODS ITEM - PACKAGES.Number of packages Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumOfPieGS25">
    <xs:annotation>
      <xs:documentation>MESSAGE - GOODS ITEM - PACKAGES.Number of pieces Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MarNumOfPacGSL21">
    <xs:annotation>
      <xs:documentation>MESSAGE - GOODS ITEM - PACKAGES.Marks and numbers of packages Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RefNumHEA4">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Reference number Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="22"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TraModAtBorHEA76">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Transport mode at border Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IdeOfMeaOfTraCroHEA85">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Identity of means of transport crossing border Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="27"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TotNumOfIteHEA305">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Total number of items Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TotNumOfPacHEA306">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Total number of packages Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ComRefNumHEA">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Commercial Reference Number Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ConRefNumHEA">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Conveyance reference number Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IdeMeaTraGIMEATRA971">
    <xs:annotation>
      <xs:documentation>MESSAGE - GOODS ITEM - (MEANS OF TRANSPORT AT BORDER) IDENTITY.Identity of means of transport crossing border Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="27"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ComRefNumGIM1">
    <xs:annotation>
      <xs:documentation>MESSAGE - GOODS ITEM.Commercial Reference Number Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RefNumCOL1">
    <xs:annotation>
      <xs:documentation>          MESSAGE - (LODGEMENT) CUSTOMS OFFICE.Reference number Type (Note: Rule 836 seems to indicate that this is the TIN; however it's not long enough)     </xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:AlphaNumType">
      <xs:pattern value="[a-zA-Z]{2}[a-zA-Z0-9]{6}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SeaIdSEAID530">
    <xs:annotation>
      <xs:documentation>MESSAGE - SEALS ID.Seals identity Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocTypDC21">
    <xs:annotation>
      <xs:documentation>MESSAGE - GOODS ITEM - PRODUCED DOCUMENTS/CERTIFICATES.Document type Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocRefDC23">
    <xs:annotation>
      <xs:documentation>MESSAGE - GOODS ITEM - PRODUCED DOCUMENTS/CERTIFICATES.Document reference Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DecPlaHEA394">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Declaration place Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocNumHEA5">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Document/reference number Type (MRN)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:MRN"/>
  </xs:simpleType>
  <xs:simpleType name="AmdPlaHEA598">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Declaration place Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InfTypHEA122">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Information type Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DivRefNumHEA119">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Diversion reference number type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="22"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UniIdeDivHEA132">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Identification of the means of transport type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RefNumCUSOFFENTACTOFF701">
    <xs:annotation>
      <xs:documentation>MESSAGE - (ACTUAL OFFICE OF ENTRY) CUSTOMS OFFICE.Reference type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:length value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocRefNumIMPOPE201">
    <xs:annotation>
      <xs:documentation>MESSAGE - IMPORT OPERATION.Document/reference number type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:MRN"/>
  </xs:simpleType>
  <xs:simpleType name="IteNumGIIMP297">
    <xs:annotation>
      <xs:documentation>MESSAGE - IMPORT OPERATION - GOODS ITEM.Item number Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="99999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DecRejReaHEA252">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Declaration rejection reason Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="350"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ErrTypER11">
    <xs:annotation>
      <xs:documentation>MESSAGE - FUNCTIONAL ERROR.Error pointer Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ErrPoiER12">
    <xs:annotation>
      <xs:documentation>MESSAGE - FUNCTIONAL ERROR.Error pointer Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="210"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ErrReaER13">
    <xs:annotation>
      <xs:documentation>MESSAGE - FUNCTIONAL ERROR.Error reason Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OriAttValER14">
    <xs:annotation>
      <xs:documentation>MESSAGE - FUNCTIONAL ERROR.Original attribute value Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AmeRejMotTexHEA605">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Amendment rejection motivation text Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="350"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RejReaHEA127">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Rejection Reason Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="350"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IteNumConCUSINT668">
    <xs:annotation>
      <xs:documentation>CUSTOMS INTERVENTION - Item Number Concerned</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="99999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CusIntCodCUSINT665">
    <xs:annotation>
      <xs:documentation>CUSTOMS INTERVENTION - Customs Intervention Code</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CusIntTexCUSINT666">
    <xs:annotation>
      <xs:documentation>CUSTOMS INTERVENTION - Customs Intervention Text</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="350"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CusIntTexCUSINT667LNG">
    <xs:annotation>
      <xs:documentation>CUSTOMS INTERVENTION - Customs Intervention Language</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:a2"/>
  </xs:simpleType>
  <xs:simpleType name="DecReqNumHEA117">
    <xs:annotation>
      <xs:documentation>MESSAGE - HEADER.Declaration request number Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="22"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RefNumEPR1">
    <xs:annotation>
      <xs:documentation>MESSAGE - (REQUESTER) CUSTOMS OFFICE.Reference number Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:length value="8"/>
      <xs:pattern value="[A-Z]{2}[0-9]{6}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IteNumInvRKA1">
    <xs:annotation>
      <xs:documentation>MESSAGE - RISK ANALYSIS.Item Number involved Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="99999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RisAnaResCodRKA1">
    <xs:annotation>
      <xs:documentation>MESSAGE - RISK ANALYSIS.Risk Analysis result code type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RisAnaTexRKA1">
    <xs:annotation>
      <xs:documentation>MESSAGE - RISK ANALYSIS.Risk Analysis text type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="350"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
