conf/xsds/data_types-v7-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 500372
Fri Jan 11 11:11:12 GMT 2019

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dt="http://www.govtalk.gov.uk/enforcement/ICS/datatypes/7" targetNamespace="http://www.govtalk.gov.uk/enforcement/ICS/datatypes/7" version="7.0" id="data_types" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:simpleType name="AlphaNumType">
    <xs:annotation>
      <xs:documentation>Base class for all anN and an..N types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="NumType">
    <xs:annotation>
      <xs:documentation>Base class for all nN and n..N types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="a1">
    <xs:annotation>
      <xs:documentation>Type for commonly used a1 field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[a-zA-Z]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="n1">
    <xs:annotation>
      <xs:documentation>Type for commonly used n1 field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedByte">
      <xs:pattern value="[0-9]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="a2">
    <xs:annotation>
      <xs:documentation>Type for commonly used a2 field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[a-zA-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yn">
    <xs:annotation>
      <xs:documentation>Restriction to a simple (Y)es or (N)o value</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[YN]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dateYYMMDD">
    <xs:annotation>
      <xs:documentation>Type for 6 character date field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:NumType">
      <xs:pattern value="[0-9]{2}(([0][1|3|5|7|8])([0][1-9]|[1-2][0-9]|[3][0-1])|([0][4|6|9])([0][1-9]|[1-2][0-9]|[3][0])|([0][2])([0][1-9]|[1-2][0-9])|([1][0|2])([0][1-9]|[1-2][0-9]|[3][0-1])|([1][1])([0][1-9]|[1-2][0-9]|[3][0]))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dateYYYYMMDD">
    <xs:annotation>
      <xs:documentation>Type for 8 character date field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:NumType">
      <xs:pattern value="[1-9][0-9]{3}(([0][1|3|5|7|8])([0][1-9]|[1-2][0-9]|[3][0-1])|([0][4|6|9])([0][1-9]|[1-2][0-9]|[3][0])|([0][2])([0][1-9]|[1-2][0-9])|([1][0|2])([0][1-9]|[1-2][0-9]|[3][0-1])|([1][1])([0][1-9]|[1-2][0-9]|[3][0]))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="time24HHMM">
    <xs:annotation>
      <xs:documentation>Type for time field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:NumType">
      <xs:pattern value="(0[0-9]|1[0-9]|2[0-3])[0-5][0-9]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datetimeYYYYMMDDHHMM">
    <xs:annotation>
      <xs:documentation>Date and Time with precision of minute (format YYYYMMDDHHMM)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:NumType">
      <xs:pattern value="[1-9][0-9][0-9][0-9](([0][1|3|5|7|8])([0][1-9]|[1-2][0-9]|[3][0-1])|([0][4|6|9])([0][1-9]|[1-2][0-9]|[3][0])|([0][2])([0][1-9]|[1-2][0-9])|([1][0|2])([0][1-9]|[1-2][0-9]|[3][0-1])|([1][1])([0][1-9]|[1-2][0-9]|[3][0]))(([2][0-3]|[0][0-9]|[1][0-9])([0-5][0-9]))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PartyName">
    <xs:annotation>
      <xs:documentation>Type for name field of participating party field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PartyAddress1">
    <xs:annotation>
      <xs:documentation>Type for address field of participating party field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PartyPostcode">
    <xs:annotation>
      <xs:documentation>Type for postcode field of participating party field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="9"/>
      <xs:pattern value=".{1,9}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PartyCity">
    <xs:annotation>
      <xs:documentation>Type for city field of participating party field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PartyCountry">
    <xs:annotation>
      <xs:documentation>Type for country field of participating party field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:CountryCodeType"/>
  </xs:simpleType>
  <xs:simpleType name="PartyNAD">
    <xs:annotation>
      <xs:documentation>Type for NAD field of participating party field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:a2"/>
  </xs:simpleType>
  <xs:simpleType name="TIN">
    <xs:annotation>
      <xs:documentation>Trader Identification Number (format: an..17)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:StringLatin1">
      <xs:minLength value="3"/>
      <xs:maxLength value="17"/>
      <xs:pattern value="[A-Z]{2}[^\n\r]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLatin1">
    <xs:restriction base="xs:string">
      <xs:pattern value="\p{IsBasicLatin}+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GrossMass">
    <xs:annotation>
      <xs:documentation>Type for common gross mass field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="11"/>
      <xs:fractionDigits value="3"/>
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LoadingUnloadingPlace">
    <xs:annotation>
      <xs:documentation>Type for common loading/unloading field
min length set to 2 based on R670</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="2"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EntryReference">
    <xs:annotation>
      <xs:documentation>Customs Office Reference Number (format:an8)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:AlphaNumType">
      <xs:pattern value="[a-zA-Z]{2}[a-zA-Z0-9]{6}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MRN">
    <xs:annotation>
      <xs:documentation>The exact structure of the MRN reference that must be provided in the UK-specific messages</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:length value="18"/>
      <xs:pattern value="[0-9]{2}[A-Z]{2}[A-Z0-9]{13}[0-9]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Branch">
    <xs:annotation>
      <xs:documentation>The branch code to where uk responses should be sent</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:pattern value="[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EORIBranch">
    <xs:annotation>
      <xs:documentation>The combination of branch and EORI used in the message headers - ENSURE IF TYPE OF TIN/EORI OR BRANCH CHANGE THEN THIS IS REVISED TOO</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:StringLatin1">
      <xs:maxLength value="28"/>
      <xs:pattern value="[A-Z]{2}[^\n\r]{1,15}/[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EndPoint">
    <xs:annotation>
      <xs:documentation>The unique ID of the required end point of messages, e.g. TFE, CSP1, CSP2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:pattern value="[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CountryCodeType">
    <xs:annotation>
      <xs:documentation>Country Code (format:a2)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:length value="2"/>
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
