conf/xsds/UKControl-v7-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 500372
Fri Jan 11 11:11:12 GMT 2019

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:uk="http://www.govtalk.gov.uk/enforcement/ICS/ukcontrol/7" targetNamespace="http://www.govtalk.gov.uk/enforcement/ICS/ukcontrol/7" xmlns:dt="http://www.govtalk.gov.uk/enforcement/ICS/datatypes/7" version="7.0" id="UKControl" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.govtalk.gov.uk/enforcement/ICS/datatypes/7" schemaLocation="data_types-v7-0.xsd"/>
  <xs:complexType name="UKControl">
    <xs:annotation>
      <xs:documentation>Type to contain any UK-specific information relating to the receipt of unsolicited messages</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uk:IssuingBranchId"/>
      <xs:element ref="uk:EORI"/>
      <xs:element ref="uk:EndPoint"/>
      <xs:element ref="uk:BranchId"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EORI">
    <xs:annotation>
      <xs:documentation>Type for Element to contain the EORI for the sender of this message</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:TIN"/>
  </xs:simpleType>
  <xs:simpleType name="EndPoint">
    <xs:annotation>
      <xs:documentation>Type for Element to contain the unique id of the end point to which unsolicited messages will be sent</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:EndPoint"/>
  </xs:simpleType>
  <xs:simpleType name="BranchId">
    <xs:annotation>
      <xs:documentation>Type for Element to contain the branch to which the corresponsing response will be sent</xs:documentation>
    </xs:annotation>
    <xs:restriction base="dt:Branch"/>
  </xs:simpleType>
  <xs:element name="UKControl" type="uk:UKControl">
    <xs:annotation>
      <xs:documentation>Element to contain any UK-specific information</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IssuingBranchId" type="uk:BranchId">
    <xs:annotation>
      <xs:documentation>Element to where the control response will be issued</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EORI" type="uk:EORI">
    <xs:annotation>
      <xs:documentation>Element to contain the EORI for the sender of this message. If EORI is in main payload, this value is ignored</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EndPoint" type="uk:EndPoint">
    <xs:annotation>
      <xs:documentation>Element to contain the unique id of the end point to which unsolicited messages will be sent</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BranchId" type="uk:BranchId">
    <xs:annotation>
      <xs:documentation>Element to contain the branch to which the corresponsing response will be sent</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
